
.Jquiz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 640px;
}

td, th {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
  
}
input[type="text"] {
  margin: 10px 0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-width: 200px;
}

button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #828080;
  color:#ffffff
}

