nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 80px; /* increase height to make navbar wider vertically */
  }
  
  .logo-container {
    display: flex;
    justify-content: left;
    width: 200px; /* adjust width of logo container as needed */
  }
  
  .logo-container img {
    width: 40%; /* make sure logo image fits inside its container */
  }
  .text-container p {
    font-size: 3em; 
    margin-right: 1.5em;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin-right: 9em;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
 