nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 80px; /* increase height to make navbar wider vertically */
  }
  
  .logo-container {
    display: flex;
    justify-content: left;
    width: 200px; /* adjust width of logo container as needed */
  }
  
  .logo-container img {
    width: 40%; /* make sure logo image fits inside its container */
  }
  .text-container p {
    margin: 0;
    font-size: 50px; 
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-right: 12em;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }